{% extends  'registration/base.html' %}
{% load crispy_forms_tags %}
{% block sidebar %}
{% endblock %} 

{% block content %}

<br>
<center><h1>Editar Medicina</h1></center>
<br>
<hr style="width: 1200px;">
<div class="row" style="margin-left: 50px; margin-right: 50px;">
    <div class="col-4">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"></a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"></a>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"><form action="" method="POST">
          {% csrf_token %}
          

          {{formu|crispy}}
        <button type="submit" class="btn btn-primary">Editar</button>
          </form></div>
        
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
      </div>
    </div>
  </div>
{% endblock %}